{% extends "base.html" %}

{% block content %}

<style>
    textarea {
        border-radius : 5px;
    }
</style>

<h1>Сделать заказ</h1>
<form role="form" action="{% url 'create-booking' %}" method="post">{% csrf_token %}
  <div class="form-group">
      {{ form.title.errors }}
      <input type="text" name="title" id="title_id" class="form-control span10" placeholder="Название" maxlength="100"/>
  </div>
  <div class="form-group">
      {{ form.text.errors }}
      <textarea class="field" name="text" id="text_id" class="form-control span10" rows="30" cols="100" placeholder="Описание"></textarea>
  </div>
  <div class="form-group">
    {{ form.price.errors }}
    <div class="row">
      <div class="col-xs-2">
        <input type="text" name="price" id="price_id" class="form-control" placeholder="Цена" maxlength="8"/>
      </div>
    </div>
  </div>
  <button type="button submit" class="btn btn-success">
    <i class="icon-user icon-white"></i>Заказать
  </button>
</form>

{% endblock %}
