{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1>Список заказов</h1>

<div class="table-responsive">
<table class="table" id="example">
  <thead>
    <tr>
      <th>Название</th>
      <th>Текст</th>
      <th>Цена</th>
      <th>Статус</th>
      <th>Заказчик</th>
      <th>Исполнитель</th>
      <th>Дата создания</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in object_list %}
    <tr>
      <td>{{ booking.title }}</td>
      <td>{{ booking.text }}</p></td>
      <td>{{ booking.price }}</td>
      <td>
        {% if booking.status == "pending" %}
            Ожидает выполнения
        {% else %}
            {% if booking.status == "running" %}
                Взят на исполнение
            {% else %}
                {% if booking.status == "completed" %}
                    Завершен
                {% endif %}
            {% endif %}
        {% endif %}
      </td>
      <td>{{ booking.customer }}</td>
      <td>{% if booking.performer %} {{ booking.performer }} {% else %} Нет {% endif %}</td>
      <td>{{ booking.date|date:'Y-m-d H:i' }}</td>
      <td>{% if booking. %}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% if is_paginated %}
<div align="center" class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="/booking/booking_list/?page={{ page_obj.previous_page_number }}">предыдущая</a>
    {% endif %}
    <span class="page-current">
      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
    <a href="/booking/booking_list/?page={{ page_obj.next_page_number }}">следующая</a>
    {% endif %}
  </span>
</div>
{% endif %}

{% endif %}

{% endblock %}
