{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1>Список заказов</h1>

<div class="table-responsive">
<table class="table" id="example">
  <thead>
    <tr>
      <th>Название</th>
      <th>Текст</th>
      <th>Цена</th>
      <th>Статус</th>
      <th>Заказчик</th>
      <th>Исполнитель</th>
      <th>Дата создания</th>
      <th>Ваши действия</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr>
      <td>{{ booking.0.title }}</td>
      <td>{{ booking.0.text }}</p></td>
      <td>{{ booking.0.price }}</td>
      <td>
        {% if booking.0.status == "pending" %}
            Ожидает выполнения
        {% else %}
            {% if booking.0.status == "running" %}
                Взят на исполнение
            {% else %}
                {% if booking.0.status == "completed" %}
                    Завершен
                {% endif %}
            {% endif %}
        {% endif %}
      </td>
      <td>{{ booking.0.customer }}</td>
      <td>{% if booking.0.performer %} {{ booking.0.performer }} {% else %} Нет {% endif %}</td>
      <td>{{ booking.0.date|date:'Y-m-d H:i' }}</td>
      <td>
          {% if booking.1 == 'can_take' %}
              <button type="button submit" class="btn btn-success">
                  Взять
              </button>
          {% endif %}
          {% if booking.1 == 'can_view' %}
              --
          {% endif %}
          {% if booking.1 == 'can_complete' %}
              <button type="button submit" class="btn btn-success">
                  Завершить
              </button>
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

{% if is_paginated %}
<div align="center" class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="/booking/booking_list/?page={{ page_obj.previous_page_number }}">предыдущая</a>
    {% endif %}
    <span class="page-current">
      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
    <a href="/booking/booking_list/?page={{ page_obj.next_page_number }}">следующая</a>
    {% endif %}
  </span>
</div>
{% endif %}

{% endif %}

{% endblock %}
